<div class="container">
    {% if not author %}
        <h1>The author you are looking for doesn't exist. </h1>
    {% else %}
        <h4>{{ author.name }}</h4>
        Name: {{author}}
        <p>Bio: {{ author.bio }}</p>
        <ul>
            {% for recipe in author_recipes %}
                <li>
                    <a href="/recipe/{{recipe.id}}">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

<h3>Favorited Recipes</h3>
    <hr>
    {% for recipe in author.favorites.all %}
    <p>Title: <a href="/recipe/{{recipe.id}}">{{ recipe.title }}</a> || {{ recipe.time_required }}</p>
    <p>Author: {{ recipe.author }}</p>
    <p>Description: {{ recipe.description }}</p>
    <p>Instructions: {{ recipe.instructions }}</p>
    <hr>
    {% endfor %}
</div>