<div class="container">
    <h4><a href="/recipe/{{recipes.id}}/edit/">Edit Ticket</a></h4>

    {% if not recipes %}
        <h1>The recipe you are looking for doesn't exist. </h1>
    {% else %}
        <h2>{{ recipes.title }}</h2>
        <h4><a href="/author/{{recipes.author.id}}/">{{ recipes.author.name }}</a></h4>
        <p>{{ recipes.description }} | {{ recipes.time_required }}</p>
        <p>{{ recipes.instructions }}</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="/favorite/{{recipes.id}}/"><button type="button">Favorite</button></a>
    {% endif %}
</div>